@media screen and (max-width: 2560px) and (max-height: 1364px)
  .reg
    &__header
      transform: scale(1.2)
      transform-origin: top
    &__footer
      transform: scale(1.2)
      transform-origin: bottom
    &__players
        margin: 0 20px
@media screen and (max-width: 2560px) and (max-height: 1274px)
  .reg
    &__header, &__footer
      transform: scale(1.1)
    &__players
        margin: 0 60px
@media screen and (max-width: 2204px)
  .reg
    &__header, &__footer
      transform: scale(1)
@media screen and (max-width: 2204px) and (max-height: 1080px)
  .reg
    &__header
      transform: scale(0.95)
      transform-origin: top
    &__players
      margin: 0 80px
@media screen and (max-width: 2204px) and (max-height: 981px)
  .reg
    &__header
      transform: scale(0.9)
      transform-origin: top
    &__players
      margin: 0 120px
@media screen and (max-width: 1920px) and (max-height: 1100px)
  .reg
    &__header, &__footer
      transform: scale(1)
    &__players
      margin: 0 20px
@media screen and (max-width: 1920px) and (max-height: 1070px)
  .reg
    &__header, &__footer
      transform: scale(0.95)
    &__players
      margin: 0 40px
@media screen and (max-width: 1920px) and (max-height: 1030px)
  .reg
    &__players
      margin: 0 60px
@media screen and (max-width: 1920px) and (max-height: 990px)
  .reg
    &__header, &__footer
      transform: scale(0.9)
    &__players
      margin: 0 80px
@media screen and (max-width: 1920px) and (max-height: 950px)
  .reg
    &__players
      margin: 0 100px
@media screen and (max-width: 1830px) and (max-height: 920px)
  .reg
    &__players
      margin: 0 70px
@media screen and (max-width: 1707px) and (max-height: 905px)
  .reg
    &__players
      margin: 0 60px
@media screen and (max-width: 1707px) and (max-height: 895px)
  .reg
    &__players
      margin: 0 80px
@media screen and (max-width: 1707px) and (max-height: 870px)
  .reg
    &__players
      margin: 0 100px
@media screen and (max-width: 1707px) and (max-height: 840px)
  .reg
    &__header, &__footer
      transform: scale(0.8)
    &__header
      margin-top: 40px
@media screen and (max-width: 1707px) and (max-height: 790px)
  .reg
    &__players
      margin: 0 120px
@media screen and (max-width: 1680px) and (max-height: 1050px)
  .reg
    &__header, &__footer
      transform: scale(1)
    &__players
      margin: 0 -10px
@media screen and (max-width: 1680px) and (max-height: 1020px)
  .reg
    &__players
      margin: 0 20px
@media screen and (max-width: 1680px) and (max-height: 980px)
  .reg
    &__header, &__footer
      transform: scale(0.95)
    &__players
      margin: 0 30px
@media screen and (max-width: 1680px) and (max-height: 950px)
  .reg
    &__header, &__footer
      transform: scale(0.9)
    &__players
      margin: 0 40px
@media screen and (max-width: 1680px) and (max-height: 920px)
  .reg
    &__players
      margin: 0 50px
@media screen and (max-width: 1600px) and (max-height: 900px)
  .reg
    &__players
      margin: 0 40px
@media screen and (max-width: 1600px) and (max-height: 890px)
  .reg
    &__header, &__footer
      transform: scale(0.85)
    &__logo
      margin-bottom: 30px
@media screen and (max-width: 1600px) and (max-height: 850px)
  .reg
    &__header, &__footer
      transform: scale(0.8)
@media screen and (max-width: 1600px) and (max-height: 810px)
  .reg
    &__players
      margin: 0 80px
@media screen and (max-width: 1600px) and (max-height: 785px)
  .reg
    &__players
      margin: 0 90px
@media screen and (max-width: 1536px) and (max-height: 735px)
  .reg
    &__players
      margin: 0 100px
@media screen and (max-width: 1512px) and (max-height: 710px)
  .reg
    &__header, &__footer
      transform: scale(0.75)
    &__players
      margin: 0 100px
@media screen and (max-width: 1512px) and (max-height: 690px)
  .reg
    &__header, &__footer
      transform: scale(0.7)
    &__players
      margin: 0 100px
    &__footer
      bottom: 40px
@media screen and (max-width: 1470px) and (max-height: 768px)
  .reg
    &__players
      margin: 0 50px
@media screen and (max-width: 1470px) and (max-height: 760px)
  .reg
    &__players
      margin: 0 70px
@media screen and (max-width: 1470px) and (max-height: 730px)
  .reg
    &__header, &__footer
      transform: scale(0.7)
@media screen and (max-width: 1470px) and (max-height: 700px)
  .reg
    &__players
      margin: 0 80px
@media screen and (max-width: 1470px) and (max-height: 680px)
  .reg
    &__players
      margin: 0 100px
@media screen and (max-width: 1470px) and (max-height: 650px)
  .reg
    &__header
      margin-top: 30px
    &__players
      margin: 0 120px
@media screen and (max-width: 1440px) and (max-height: 900px)
  .reg
    &__header, &__footer
      transform: scale(1)

@media screen and (max-width: 1440px)
  .reg
    &__logo
      width: 381px
    &__text
      font-size: 37px
      letter-spacing: 1.48px
    &__money, &__fs
      height: 64px
    &__up
      font-size: 26px
      letter-spacing: 1.04px
    &__sum, &__fs
      font-size: 54px
      letter-spacing: 2.16px
    &__players
      margin: 0
    &__footer
      bottom: 51px
      width: 383px
      font-size: 12px
      line-height: 14px
      letter-spacing: -0.48px