@media screen and (max-width: 2560px) and (max-height: 1364px)
  .reg
    &__header
      transform: scale(1.2)
      transform-origin: top
    &__footer
      transform: scale(1.2)
      transform-origin: bottom
    &__players
        margin: 0 20px
@media screen and (max-width: 2560px) and (max-height: 1274px)
  .reg
    &__header, &__footer
      transform: scale(1.1)
    &__players
        margin: 0 60px
@media screen and (max-width: 2204px)
  .reg
    &__header, &__footer
      transform: scale(1)
@media screen and (max-width: 2204px) and (max-height: 1080px)
  .reg
    &__header
      transform: scale(0.95)
      transform-origin: top
    &__players
      margin: 0 80px
@media screen and (max-width: 2204px) and (max-height: 981px)
  .reg
    &__header
      transform: scale(0.9)
      transform-origin: top
    &__players
      margin: 0 120px
@media screen and (max-width: 1920px) and (max-height: 1100px)
  .reg
    &__header, &__footer
      transform: scale(1)
    &__players
      margin: 0 20px
@media screen and (max-width: 1920px) and (max-height: 1070px)
  .reg
    &__header, &__footer
      transform: scale(0.95)
    &__players
      margin: 0 40px
@media screen and (max-width: 1920px) and (max-height: 1030px)
  .reg
    &__players
      margin: 0 60px
@media screen and (max-width: 1920px) and (max-height: 990px)
  .reg
    &__header, &__footer
      transform: scale(0.9)
    &__players
      margin: 0 80px
@media screen and (max-width: 1920px) and (max-height: 950px)
  .reg
    &__players
      margin: 0 100px