$blue: #005
$white: #ffffff
$grey: #E3E3E3
$pink: #FF267E

$font-suisse: SuisseIntl-Medium, sans-serif

body
  background-color: #3a3a3a // development
.wrapper
  -webkit-tap-highlight-color: transparent
  overscroll-behavior: none
  width: 50% // development
  background: grey // development
  margin: 0 auto // development
  // background: $blue
  // width: 100% // prod
  height: 100%
  img
    max-width: 100%
    height: auto
.reg
  position: relative
  height: calc(var(--vh, 1vh) * 100)
  width: 100%
  overflow: hidden
  background: url("../img/bg-960.jpg") no-repeat 50% 50%/cover
  @media screen and (max-width: 1440px)
    background: url("../img/bg-720.jpg") no-repeat 50% 50%/cover
  @media screen and (max-width: 1280px)
    background: url("../img/bg-640.jpg") no-repeat 50% 50%/cover
  @media screen and (max-width: 1260px)
    background: url("../img/bg-512.jpg") no-repeat 50% 50%/cover
  

@media screen and (max-width: 1023px)
  .wrapper
    display: none
  .Layout_column__3MM83
    width: 100%